@model List<RSS_Reader.Models.Domain.FeedModel>

@{
    ViewData["Title"] = "Home Page";
}

@if (Model != null && Model.Any())
{
    foreach (var feed in Model)
    {
        @await Html.PartialAsync("_FeedCard", feed)
    }
}
else
{
    <div class="empty-feeds text-center">
        <i class="fas fa-exclamation-triangle fa-3x"></i>
        <p class="mt-3">No feeds found. Please add a new one.</p>
    </div>
}
<button class="add-feed-button button" type="button" data-bs-toggle="modal" data-bs-target="#myModal">
    <span class="button__text">Add Item</span>
    <span class="button__icon"><svg class="svg" fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><line x1="12" x2="12" y1="5" y2="19"></line><line x1="5" x2="19" y1="12" y2="12"></line></svg></span>
</button>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form class="form">
                    <div class="title">Create<br><span>new RSS-Feed item</span></div>
                    <input type="text" placeholder="Name" name="name" class="input">
                    <input type="url" placeholder="URL" name="url" class="input">
                    <button class="button-confirm">Accept</button>
                </form>
            </div>
        </div>
    </div>
</div>
